<div class="row justify-content-center">
    <div class="col-md-10">
        <h3 class="animated fadeIn">Hero <span class="small text-danger">{{ hero.nombre }}</span></h3>
        <hr>

        <form (ngSubmit)="guardar()" #form="ngForm" novalidate autocomplete="off">
            <div class="form-group">
                <!-- <label for="name">Nombre</label> -->
                <input type="text" class="form-control animated fadeInRight" name="nombre" [(ngModel)]="hero.nombre" placeholder="Nombre" required>
            </div>
            <div class="form-group">
                <!-- <label for="casa">Casa</label> -->
                <select class="custom-select animated fadeInDown" [(ngModel)]="hero.casa" name="casa">
                  <option selected disabled>Elige una casa</option>
                  <option value="Marvel">Marvel</option>
                  <option value="DC">DC</option>
              </select>
            </div>
            <div class="form-group">
                <!-- <label for="name">Comentarios</label> -->
                <textarea type="text" class="form-control animated fadeInLeft" name="bio" [(ngModel)]="hero.bio" placeholder="Biografia"></textarea>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Guardar</button>
        </form>
    </div>
</div>