<div class="row justify-content-center">
    <div class="col-md-10">
        <h3>Reactive Form</h3>
        <hr>

        <form [formGroup]="forma" (ngSubmit)="guardarCambios()" novalidate autocomplete="off">
            <div class="form-row" formGroupName="nombrecompleto">
                <div class="form-group col-md-6">
                    <!-- <label for="name">Nombre</label> -->
                    <input type="text" class="form-control" [ngClass]="{'is-invalid': !forma.get('nombrecompleto.nombre').valid && forma.get('nombrecompleto.nombre').touched, 'is-valid': forma.get('nombrecompleto.nombre').valid }" formControlName="nombre" placeholder="Nombre">

                    <div class="invalid-feedback" *ngIf="forma.controls['nombrecompleto'].controls['nombre'].errors?.required && forma.controls['nombrecompleto'].controls['nombre'].touched">
                        Este campo es Requerido
                    </div>
                    <div class="invalid-feedback" *ngIf="forma.controls['nombrecompleto'].controls['nombre'].errors?.minlength && forma.controls['nombrecompleto'].controls['nombre'].touched">
                        El campo debe tener al menos 3 caracteres
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <!-- <label for="surname">Apellido</label> -->
                    <input type="text" class="form-control" [ngClass]="{'is-invalid': !forma.get('nombrecompleto.apellido').valid && forma.get('nombrecompleto.apellido').touched, 'is-valid': forma.get('nombrecompleto.apellido').valid }" formControlName="apellido" placeholder="Apellido">

                    <div class="invalid-feedback" *ngIf="forma.controls['nombrecompleto'].controls['apellido'].errors?.required && forma.controls['nombrecompleto'].controls['apellido'].touched">
                        Este Campo es Requerido.
                    </div>
                    <div class="invalid-feedback" *ngIf="forma.controls['nombrecompleto'].controls['apellido'].errors?.maxlength && forma.controls['nombrecompleto'].controls['apellido'].touched">
                        El Campo debe tener maximo 10 caracteres.
                    </div>
                    <div class="invalid-feedback" *ngIf="forma.controls['nombrecompleto'].controls['apellido'].errors?.noFreak && forma.controls['nombrecompleto'].controls['apellido'].touched">
                        El Campo no acepta apellidos de Vagos!
                    </div>
                </div>
            </div>

            <div class="form-group">
                <!-- <label for="inputEmail4">Email</label> -->
                <input type="email" class="form-control" [ngClass]="{'is-invalid': !forma.get('email').valid && forma.get('email').touched, 'is-valid': forma.get('email').valid}" formControlName="email" placeholder="Email">

                <div class="invalid-feedback" *ngIf="forma.controls['email'].errors?.required && forma.controls['email'].touched">
                    Este Campo es Requerido
                </div>
                <div class="invalid-feedback" *ngIf="forma.controls['email'].errors?.email && forma.controls['email'].touched">
                    El email es invalido
                </div>
            </div>

            <div class="input-group">
                <!-- <label for="inputEmail4">Email</label> -->
                <input type="text" class="form-control" [ngClass]="{'is-invalid': !forma.get('usuario').valid && forma.get('usuario').touched, 'is-valid': forma.get('usuario').valid}" formControlName="usuario" placeholder="Usuario" aria-describedby="basic-addon1">
                <!-- <div class="input-group-append">
                    <i class="fa fa-spinner"></i>
                </div> -->
                <div class="invalid-feedback" *ngIf="forma.controls['usuario'].errors?.required && forma.controls['usuario'].touched">
                    Este Campo es Requerido
                </div>
                <div class="invalid-feedback" *ngIf="forma.controls['usuario'].errors?.existe && forma.controls['usuario'].touched">
                    Este usuario ya existe!
                </div>
            </div>

            <div class="form-group mt-3">
                <!-- <label for="inputPassword4">Contraseña</label> -->
                <input type="password" class="form-control" [ngClass]="{'is-invalid': !forma.get('pass1').valid && forma.get('pass1').touched, 'is-valid': forma.get('pass1').valid}" formControlName="pass1" placeholder="Contraseña">
                <div class="invalid-feedback" *ngIf="forma.controls['pass1'].errors?.required && forma.controls['pass1'].touched">
                    Este Campo es Requerido
                </div>
            </div>
            <div class="form-group">
                <!-- <label for="inputPassword4">Contraseña</label> -->
                <input type="password" class="form-control" [ngClass]="{'is-invalid': !forma.get('pass2').valid && forma.get('pass2').touched, 'is-valid': forma.get('pass2').valid}" formControlName="pass2" placeholder="Repetir Contraseña">
                <div class="invalid-feedback" *ngIf="forma.controls['pass2'].errors?.required && forma.controls['pass2'].touched">
                    Este Campo es Requerido
                </div>
                <div class="invalid-feedback" *ngIf="forma.controls['pass2'].errors?.nosamepass && forma.controls['pass2'].touched">
                    La contraseña no coincide
                </div>
            </div>

            <div class="input-group" formArrayName="pasatiempos">
                <input type="text" class="form-control" *ngFor="let pasatiempo of forma.controls['pasatiempos'].controls; let i = index" [formControlName]="i" placeholder="Pasatiempo">
                <div class="input-group-append">
                    <button type="button" [disabled]="this.addPasatStop" class="btn btn-outline-info" (click)="agregarCampo()">Agregar</button>
                </div>
            </div>

            <!-- <div class="form-group">
                <label for="">Pais</label>
                <select class="custom-select" [(ngModel)]="usuario.pais" name="pais">
                    <option selected>Elige un Pais</option>
                    <option *ngFor="let pais of paises" [value]="pais.siglas"> {{ pais.nombre }} </option>
                </select>
            </div> -->

            <!-- <div class="form-group">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" [(ngModel)]="usuario.sexo" value="Hombre" id="customRadioInline1" name="sexo" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline1">Hombre</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" [(ngModel)]="usuario.sexo" value="Mujer" id="customRadioInline2" name="sexo" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline2">Mujer</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" [(ngModel)]="usuario.sexo" value="Otro" id="customRadioInline3" name="sexo" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline3">Otro</label>
                </div>
            </div>

            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" name="check" [(ngModel)]="usuario.check" class="custom-control-input" id="customCheck1" required>
                    <label class="custom-control-label" for="customCheck1">Acepto terminos y condiciones</label>
                </div>
            </div> -->

            <button type="submit" class="btn btn-primary mt-2">Ingresar</button>
            <button type="button" (click)="resetForm()" class="btn btn-danger mt-2 ml-2">Borrar</button>
        </form>

        <hr>
        <pre class="mt-4">
            Validacion del Formulario: {{ forma.valid | json }}
        </pre>
    </div>
</div>